section{
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right:2% ;
    margin-left: 2%;
    justify-content: center;

}

.articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sessao__nova{
    display: flex;
    justify-content: center;
}